body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

.download {
  font-size: 16px;
  color: Aquamarine;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: Aquamarine;
}

.footer {
  font-size: 21px;
  color: gray;
  text-align:right;
}
